In [2]:
######################
#Datset Importing
#maybe save csv as list of dictionaries

import csv
import pandas as pd
import numpy as np
from IPython.display import display, HTML


TEST_PATH ='dataset/aps_failure_test_set.csv'
TRAIN_PATH ='dataset/aps_failure_training_set.csv'
SKIPROWS = 20



def loadDatasetWithCSV(path):
    with open(path, 'rt', encoding='utf-8') as csvfile:
        datareader = csv.reader(csvfile)
        for row in datareader:
            print(row)            

def loadDatasetWithPandas(path,skiprowsNum):
    #Reading the raw data from csv file
    rawData = pd.read_csv(path,skiprows=skiprowsNum)
    #display(rawData)
    #replacing the string indicating missing values with the numpy value for missing values
    naNProcessedData = rawData.replace({'na': np.nan}, regex=True)
    return naNProcessedData
    
    
    
#loadDatasetWithCSV('TEST_PATH')

#Load Datasets 
###############################################
#Load Train Dataset
trainData = loadDatasetWithPandas(TRAIN_PATH, SKIPROWS)
display(trainData)
#Load Test Dataset
testData = loadDatasetWithPandas(TEST_PATH, SKIPROWS)
#display(testData)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,NaN,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,NaN,0,NaN,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,NaN,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,NaN,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0
5,neg,38312,NaN,2130706432,218,0,0,0,0,0,...,388574,288278,900430,300412,1534,338,856,0,0,0
6,neg,14,0,6,NaN,0,0,0,0,0,...,168,48,60,28,0,0,0,0,0,0
7,neg,102960,NaN,2130706432,116,0,0,0,0,0,...,715518,384948,915978,1052166,1108672,341532,129504,7832,0,0
8,neg,78696,NaN,0,NaN,0,0,0,0,0,...,699290,362510,1190028,1012704,160090,63216,41202,4,0,0
9,pos,153204,0,182,NaN,0,0,0,0,0,...,129862,26872,34044,22472,34362,0,0,0,0,0
10,neg,39196,NaN,204,170,0,0,0,0,0,...,198386,99614,215734,189966,219996,208724,463790,34054,0,0
11,neg,45912,NaN,0,454,0,0,0,0,0,...,495400,278660,544710,438256,249386,73356,51344,2008,0,0
12,neg,2104,NaN,36,26,0,0,0,0,9744,...,4776,2330,4634,6534,29980,39372,0,0,0,0
13,neg,118950,NaN,1390,1298,0,0,0,0,0,...,1677646,1380302,2531322,426284,17996,11734,12506,138,0,0
14,neg,24416,NaN,0,NaN,0,0,0,0,0,...,190606,95674,207476,232470,154962,99406,121544,2712,0,0
15,neg,14,0,62,34,0,0,0,0,0,...,248,42,48,28,32,10,0,0,0,0
16,neg,31300,0,784,740,0,0,0,0,0,...,798872,112724,51736,7054,6628,27600,2,2,0,0
17,neg,736,2,24,22,16,20,0,0,0,...,1370,812,2488,2340,2566,20870,38,0,0,0
18,neg,332,NaN,2130706432,20,0,0,0,0,0,...,1260,296,878,11774,8,0,0,0,0,0
19,neg,1432,NaN,2130706440,82,0,0,0,0,0,...,2714,1480,4822,53694,1116,16,0,0,0,0
20,neg,41212,0,2130706434,104,104,172,0,0,0,...,171390,95844,177206,173184,404690,736142,9268,6,0,0
21,neg,14,NaN,6,6,0,0,0,0,0,...,80,0,0,0,0,0,0,0,0,0
22,neg,157128,NaN,2130706456,424,0,0,0,0,0,...,1784108,683976,1228736,971366,838200,559330,826630,18434,0,0
23,pos,453236,NaN,2926,NaN,0,0,0,0,222,...,7908038,3026002,5025350,2025766,1160638,533834,493800,6914,0,0
24,neg,58246,NaN,2130706432,2416,0,0,0,0,0,...,670578,293816,464286,336782,229078,163348,372036,31152,0,0
25,neg,29394,NaN,0,NaN,0,0,0,0,0,...,234998,136388,470258,548540,8384,524,208,16,0,0
26,neg,8690,NaN,476,364,0,0,0,0,0,...,52700,28890,55588,85370,140892,10658,10944,356,0,0
27,neg,46978,NaN,334,322,0,0,0,0,0,...,407008,221836,534336,606554,325542,89624,6538,10,0,0
28,neg,1870,NaN,NaN,NaN,0,0,0,0,0,...,7688,5050,33502,40466,1436,34,0,0,0,0
29,neg,12516,0,120,NaN,0,0,0,0,0,...,133648,53830,92568,72416,70266,111176,592,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59970,neg,16,0,8,NaN,0,0,0,0,0,...,78,30,56,28,34,42,0,0,0,0
59971,neg,39026,NaN,202,168,0,0,0,0,0,...,277756,155262,419110,597950,306722,16868,18330,2112,0,0
59972,neg,14,NaN,24,20,0,0,0,0,0,...,388,56,30,0,0,0,0,0,0,0
59973,neg,3248,8,16,10,0,0,0,0,0,...,10464,6202,11372,24842,25718,58364,120,0,0,0
59974,neg,83818,NaN,552,532,0,0,0,0,0,...,713474,343926,681198,532938,376156,262990,628964,82484,0,0
59975,neg,40274,NaN,98,94,0,0,0,0,0,...,313326,182178,466482,587110,271706,38270,6414,242,0,0
59976,neg,16978,NaN,2130706434,1750,0,0,0,0,0,...,167080,87242,141522,147958,103198,68364,56256,1128,0,0
59977,neg,30320,NaN,1838,1278,0,0,0,0,0,...,153770,86110,246966,274254,220696,143046,192332,5316,0,0
59978,neg,38414,NaN,888,758,0,0,0,0,0,...,391604,150648,269002,200140,149768,117020,270838,21082,0,0
59979,neg,18,0,2130706432,18,0,0,0,0,0,...,56,16,34,22,86,10,0,0,0,0
59980,neg,562,0,4,4,0,0,0,0,0,...,2880,644,1110,526,1162,14756,128,0,0,0
59981,neg,16,NaN,20,20,0,0,0,0,0,...,256,10,30,48,30,0,0,0,0,0
59982,neg,10628,NaN,2130706434,98,0,0,0,0,0,...,553156,99122,21720,7124,1464,616,114,0,0,0
59983,neg,39004,NaN,90,84,0,0,0,0,0,...,337238,179550,349658,263388,164592,116170,284594,33338,0,0
59984,neg,33386,NaN,812,744,0,0,0,0,0,...,265982,135322,255766,208478,188012,241194,138900,3388,0,0
59985,neg,10792,NaN,784,608,0,0,0,0,0,...,155506,49046,98602,55236,15122,10052,18538,856,0,0
59986,neg,644,NaN,12,NaN,0,0,0,0,0,...,5466,2164,6338,5008,5328,4730,0,0,0,0
59987,neg,41330,NaN,2130706432,744,0,0,0,0,0,...,434454,165964,497548,392222,256944,80572,2414,0,0,0
59988,neg,6078,NaN,52,46,0,0,0,0,0,...,20474,12750,52018,190226,3504,28,14,0,0,0
59989,neg,61478,NaN,134,0,0,0,0,0,0,...,632856,410326,1130874,535990,205766,39694,550,0,0,0
59990,neg,81354,NaN,2130706432,156,0,0,0,0,0,...,627610,376028,931828,1035236,674626,161266,3284,0,0,0
59991,neg,39308,NaN,452,374,0,0,0,0,0,...,312426,161694,323438,292350,250112,157636,234932,9506,0,0
59992,neg,14,0,2,2,0,0,0,0,0,...,132,44,80,52,54,0,0,0,0,0
59993,neg,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59994,neg,32,0,0,NaN,0,0,0,0,0,...,258,98,224,166,36,486,0,0,0,0
59995,neg,153002,NaN,664,186,0,0,0,0,0,...,998500,566884,1290398,1218244,1019768,717762,898642,28588,0,0
59996,neg,2286,NaN,2130706538,224,0,0,0,0,0,...,10578,6760,21126,68424,136,0,0,0,0,0
59997,neg,112,0,2130706432,18,0,0,0,0,0,...,792,386,452,144,146,2622,0,0,0,0
59998,neg,80292,NaN,2130706432,494,0,0,0,0,0,...,699352,222654,347378,225724,194440,165070,802280,388422,0,0
59999,neg,40222,NaN,698,628,0,0,0,0,0,...,440066,183200,344546,254068,225148,158304,170384,158,0,0